@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --font-family: "Roboto";
  --color-white: #fff;
  --color-background: linear-gradient(144deg, #f64d4d 0%, #4d5ef6 100%);
  --color-black: #000;
  --color--yelGr: #bcfd4c;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: var(--color-white);
}

body {
  font-family: "Roboto" !important;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

button,
input {
  background: transparent;
  border: none;
  outline: none;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  padding-top: 15px;
  padding-bottom: 22px;
}

.header__block-logo {
  display: flex;
  align-items: center;
}

.navBtn {
  background-color: red;
  padding: 24px 24px 23px 23px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.12);
  background: var(--color-background);
  margin-right: 32px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navBtn:hover {
  transform: scale(1.03);
}
.navBtn:active {
  transform: scale(0.9);
}

.header__block {
  display: flex;
  align-items: center;
  gap: 31px;
}

.header__main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__top-options {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-weight: 300;
  font-size: 12px;
  color: var(--color-black);
}

.top__option-select {
  padding: 5px;
}

.hidden {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.itemsOP {
  border: 1px solid var(--color-yelGr);
}

.hidden {
  display: none;
}

.header__top-right {
  display: flex;
  gap: 6px;
  align-items: center;
  font-weight: 300;
  font-size: 12px;
  color: var(--color-black);
}

.region,
.lang {
  padding-right: 5px;
  border-right: 1px solid var(--color-black);
  align-items: center;
  display: flex;
}

.header__nav {
  margin-top: 23px;
  display: flex;
  align-items: center;
  gap: 45px;
}

.header__nav-search {
  display: flex;
  padding: 3px;
  flex-grow: 1;
  justify-content: space-between;
  border: 2px solid #515ef3;
}

.catalog-select {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.12);
  background: linear-gradient(212deg, #3455d8 0%, #ff4343 51.18%);
  padding: 16px 11px 16px 25px;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-black);
}

.searchInput {
  width: 100%;
  min-height: 100%;
  margin-left: 5px;
  font-weight: 400;
  font-size: 18px;
  color: var(--color-black);
}

.search-icon {
  margin: 10px 23px 10px;
}

.header__user-set {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
}
.header__user:hover {
  color: #3455d8;
}

.user-login {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-black);
}

.count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  top: 0;
  right: 5px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--color-white);
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 50;
  max-width: 90%;
  gap: 15px;
  margin: 0 auto;
}

.modal.active {
  display: flex;
}

.modal-content {
  background: #fff;
  border-radius: 8px;
  display: flex;
  gap: 20px;
  padding: 20px;
  max-width: 600px;
  width: 30%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-content img {
  width: 150px;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero__block {
  display: flex;
  gap: 30px;
}

.hero__catalog {
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  width: 100%;
  max-width: 246px;
  display: flex;
  flex-direction: column;
}

.hero__catalog-title {
  background: linear-gradient(144deg, #f64d4d 0%, #4d5ef6 100%);
  width: 100%;
  padding: 8px 30px;
}

.hero__catalog-list {
  padding: 8px 30px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.hero__catalog-list li {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  color: #000;
  cursor: pointer;
}

.allCatolog {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  background: linear-gradient(144deg, #f64d4d 0%, #4d5ef6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 8px 30px;
  margin-top: 18px;
}

.products {
  padding-top: 30px;
}

.product__title {
  margin-bottom: 20px;
}

.product__block {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 24px;
  padding-top: 20px;
}

.card {
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  padding: 10px;
}

.card__img {
  margin-bottom: 20px;
}

.card__content {
  display: flex;
  flex-direction: column;
}

.card-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 124%;
  color: var(--color-black);
  margin-bottom: 10px;
}

.viewMore {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.add {
  width: 100%;
  display: flex;
  gap: 20px;
}

.addWishlist,
.addBacket {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c7f1c4;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */